
body{
    margin: 0px auto;
    font-family: monospace; 
}
header.head{
     display: flex;
     align-items: center;    
}
header.head h1{
    margin-left: 3%;
    font-size: 6vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
section.haut-page {
    background-color: black;
    height: 50vw;
    width: 100%;
    box-shadow: 0 0 20px rgb(0,0,0);
}
/* page de bienvenue */
.page-de-garde{
    padding-left: 3%;
}
.gros-titre{
        color: white;
        font-size: 7vw;
        font-weight: 10;
        width: 80%;
}
.scroll{
    color: black;
    text-decoration: none;
    font-size: 1.5vw;
    background-color: white;
    border-radius: 2px;
    width: 10.5vw;
    height: 1.85vw;  
}
/* menu de navigation */
 nav.nav{
     display: flex;
     justify-content: space-around;
     list-style: none;
     width: 80%;
     margin-left: 3%;
     height: 3vw;
     align-items: center;
 }

.one a{
     display: flex;
     color: black;
     text-decoration: none;
     background-color: white;
     border-radius: 4px;
     width: 12.3vw;
     font-size: 2vw;
     justify-content: space-around;
     -webkit-transition: all 0.4s ease;
     transition: all 0.4s ease;

 }
div.one a:hover {
    color: white;
    justify-content: space-around;
    font-size: 3vw;
    background-color: black; 
    
}
 /*services*/
.services{
    display: flex;
    justify-content: space-around;
    margin: 10%;
}
.services-icones{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: 2vw;
}
section.services img{
    width: 30%;  
}
/* Actualités*/
.actualités-titre{
    font-size: 4vw;
    margin: 3%;
    position: relative;
}
.actualités-titre::before{
    content: "";
    position: absolute;
    background-color: black;
    width: 26%;
    height: 4%;
    bottom:0;  
}
.premier{
    background-color: black;
    background-size: over;
    height: 60vh;
    box-shadow: 0 0 20px;
}
/*fin de page */
.dernier{
    display: flex;
    align-items: center;  
}
div.dernier{
    height: 23vw;
    width: 100%;
    background-color: black;
}
div.copyright{
    display: flex;
    color: white;
    font-size: 1.5vw;
    width: 55%;
    height: 25%;
    margin-left: 15%;
    align-items: center;
}
.qrcode{
    width: 40%;
}
.qrcode img{
    margin-left: 30%;
    width: 50%;
    border-radius: 30px;
   -webkit-transition: all 0.5s ease;
   transition: all 0.5s ease;
}
.qrcode:hover img {
    width: 150px; /* on affiche l'image au carré */
    height: 150px;
    
    -webkit-transform: rotate(360deg); /* rotation de l'image */
    transform: rotate(360deg);
}