
body{
    margin: 0 auto;
    font-family: monospace;
    background-color: black;
    margin-left: 5%;

}

.gros-titre{
    height: 12vw;
    width: 60%;
    color:black;
    text-decoration: none;
    font-size: 10vw;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 30px rgb(255,255,255);
}
.projet-titre{
    font-size: 4vw;
    color: white;
    position: relative;
    margin: 4%;

}
.projet-titre::before{
    content: "";
    position: absolute;
    background-color: white;
    width: 27%;
    height: 4%;
    bottom:0;
}
.premier{
    background-color: white;
    width: 95%;
    height: 30vw;
    border-radius: 30px;
    box-shadow: white;
    box-shadow: 0 0 30px rgb(255,255,255);
}
.deux{ background-color: white;
    width: 95%;
    height: 30vw;
    border-radius: 30px;
    box-shadow: white;
    box-shadow: 0 0 30px rgb(255,255,255);
}